attr==0.3.2
ConfigParser==7.1.0
contextlib2==21.6.0
cryptography==44.0.0
Cython==3.0.12
dl==0.1.0
docutils==0.21.2
HTMLParser==0.0.2
ipython==8.32.0
ipywidgets==8.1.5
Jinja2==3.1.5
jnius==1.1.0
keyring==25.6.0
lockfile==0.12.2
ml_collections==0.1.1
mock==5.1.0
nox==2025.2.9
numpy==1.21.6
opencv_contrib_python==4.9.0.80
opencv_python==4.9.0.80
opencv_python_headless==4.9.0.80
Pillow==9.3.0
Pillow==9.5.0
Pillow==11.1.0
protobuf==3.19.6
pyOpenSSL==25.0.0
pytest==7.4.4
railroad==0.5.0
scikit_image==0.19.3
scipy==1.7.3
Sphinx==8.1.3
tensorboardX==1.5
tensorboardX==2.6.2.2
thread==2.0.5
torch==1.13.0+cu117
torchvision==0.14.0+cu117
tornado==6.2
tqdm==4.66.1
trove_classifiers==2025.1.15.22
truststore==0.10.1
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
